.launchcard-containter {
    width: 30vw;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding: 10px;
}


.launch-title,
.launch-details-container>h3 {
    color: #ff5722;
}

.launch-year {
    color: #4caf50;
}

.launch-details {
    color: #424242;
    font-weight: bold;
}